{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
    InvGate Challenge Finalizado!
{% endblock %}

{% block content %}
<h2>El desafío terminó. Los ganadores son:</h2>
<div>
    <ul>
        <li>Mariano Alejandro Montero Sinatra</li>
        <li>Augusto Kielbowicz</li>
        <li>Juan Pedro Fisanotti</li>
        <li>Zoe Marino</li>
        <li>Matias Lang</li>
        <li>Emanuel Lupi</li>
    </ul>
</div>

    <h3>Resolvieron correctamente el ejercicio pero no salieron sorteados.
        Felicitaciones igualmente y tienen un premio consuelo que pueden pasar a retirar por el stand de Invgate
    </h3>
    <div>
        <ul>
            <li>  Pedro   Routaboul</li>
            <li>  Joaquin   Casal</li>
<li>  Maximiliano   Illbele</li>
<li>  Federico   Marcos</li>
<li>  Mauricio Luca   Cabrera</li>
<li>  Eloy   Colella</li>
<li>  Federico   Sodo</li>
<li>  Matias   OTa</li>
<li>  Andres   Pozo</li>
<li>  Juan Manuel   Fernandes dos Santos</li>
<li>  Antonio   Pereiro</li>
<li>  Matias David   Lee</li>
<li>  Tomas   Bert</li>
<li>  Juan Manuel   Bouvier</li>
<li>  tomas   discoli</li>
<li>  Emmanuel   Santos</li>
<li>  Damián   Castro</li>
<li>  manuel   soldini</li>
<li>  Lucas David   Traverso</li>
<li>  Ricardo Daniel   Quiroga</li>
<li>  Javier   Montilva</li>
<li>  Javier   Ayres</li>
<li>  Nicolas   Alvarez</li>
<li>  Nicolas   Sarubbi</li>
<li>  Luciano Sebastián   Serruya Aloisi</li>
        </ul>
    </div>

{% endblock %}