{% load static %}
<div>
<p>El Caballo en ajedrez se puede mover como se indica en el diagrama:</p>
<div>
    <p>
        <img src={% static "invgatechallenge/knight.png"  %} style="width:150px; height: 150px;"/>

    </p>
</div>
<p>Inicialmente, se puede ubicar el caballo en cualquier tecla numerada del teclado de un teléfono</p>
<p> <img src={% static "invgatechallenge/keypad.png"  %} style="width:150px; height: 150px;" />    </p>
<p>Cada movimiento del caballo se hace desde una tecla a otra según como se mueve en el tablero de ajedrez.</p>
<p>Cada vez que se lo ubica en una tecla (incluyendo la ubicación inicial), se apreta ese número</p>
<p>Responda para las cantidades de teclas presionadas que se indican la cantidad de números distintos que se pueden marcar con el caballo.</p>
<p>Ejemplo marcando un solo numero podemos generar 10 números distintos: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9</p>
<p>y marcando dos números podemos generar los siguientes 20 números: 16, 18, 27, 29, 34, 38, 43, 40, 49, 61, 67, 60, 72, 76, 81, 83, 92, 94, 04, 06 </p>