{% load static %}
<div>
<p>El Caballo en ajedrez se puede mover como se indica en el diagrama:</p>
<div>
    <p>
        <img src={% static "invgatechallenge/knight.png"  %} style="width:150px; height: 150px;"/>

    </p>
</div>
<p>Inicialmente, se puede ubicar el caballo en cualquier tecla numerada del teclado de un telefono</p>
<p> <img src={% static "invgatechallenge/keypad.png"  %} style="width:150px; height: 150px;" />    </p>
<p>Cada movimiento del caballo se hace desde una tecla a otra según como se mueve en el tablero de ajedrez.</p>
<p>Cada vez que se lo pone en una tecla (incluyendo la ubicación inicial), se apreta ese número. Es decir que con N-1 movimientos,
    se presionan N teclas.</p>
<p>Complete para las cantidades de pasos pedidas la cantidad de números distintos que se pueden marcar con el caballo.</p>
