{% load bootstrap4 %}
<form action="/" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form_errors form type='non_fields' %}
    {% bootstrap_field form.name %}
    {% bootstrap_field form.lastname %}
    {% bootstrap_field form.email %}
    {% bootstrap_field form.linkedin %}

    <div>Desafío 1 (Fácil) - Teclas Presionadas: {{ first }}</div>
    {% bootstrap_field form.number_one %}
    {% bootstrap_field form.solution_one %}
    <div>Desafío 2 (Complicado) Teclas Presionadas: {{ second }}</div>
    {% bootstrap_field form.number_two %}
    {% bootstrap_field form.solution_two %}
    <div>Desafío 3 (Difícil): {{ third }}  </div>
    {% bootstrap_field form.number_three %}
    {% bootstrap_field form.solution_three %}
    {% bootstrap_field form.captcha %}
    {{ form.captcha.errors }}
    {% bootstrap_field form.anti_tampering %}
    {% buttons submit='Enviar respuesta' %}{% endbuttons %}
</form>
